.banniere {
    position: relative;
    width: 97%;
    height: 180px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 40px;
    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(40%);
    }
    h1 {
        color: white;
        font-size: 2.5rem;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}