.logement {
    overflow: hidden;
    margin-top: 50px;
    .pictures {
        img {
            width:10%;
            height: 415px;
            object-fit: cover;
            border-radius: 25px;
        }
        
    }
    .logement_1et2 {
      display: flex;
      justify-content: space-between;
      .div1 {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        h2{
          font-size: 28px;
          margin-top: 40px;
          color: #FF6060;
        }
        h3{
          font-weight: 500;
          margin-top: 0;
          margin-bottom: 20px;
        }
        .tag {
          width: 140px;
          height: 25px;
          background-color: #FF6060;
          color: white;
          font-weight: 600;
          font-size: 14px;
          border-radius: 15px;
          padding: 5px 10px;
          margin-right: 5px;
          margin-bottom: 10px;
          display: inline-block;
          text-align: center;
          line-height: 25px;
        }
      }
      .div2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        .host {
          display: flex;
          align-items: center;
          gap: 20px;
          color: #FF6060;
          font-weight: 600;
          font-size: 18px;
          img {
            width: 40%;
            height: auto;
            border-radius: 70px;
            object-fit: cover;
          }
        }
      }
    }

    @media (max-width: 780px) {

    .logement_1et2 {
      display: flex;
      flex-direction: column;
      .div1 {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        h2{
          font-size: 20px;
          color: #FF6060;
        }
        h3{
          font-size: 16px;
          font-weight: 500;
          margin-top: 0;
          margin-bottom: 20px;
        }
        .tag {
          width: 25%;
          height: 25px;
          margin-bottom: 10px;
        }
      }
      .div2 {
        width: 110%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        .host {
          display: flex;
          align-items: center;
          gap: 20px;
          color: #FF6060;
          font-weight: 600;
          font-size: 18px;
          img {
            width: 20%;
            height: auto;
            border-radius: 70px;
            object-fit: cover;
          }
        }
        .rating {
          order: -1;
        }
      }
    }
  }
}