.logement {
    overflow: hidden;
    margin-top: 50px;
    .pictures {
        img {
            width:10%;
            height: 415px;
            object-fit: cover;
            border-radius: 25px;
        }
        
    }
    .div1 {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        h2{
        color: #FF6060;
        }
        .host {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #FF6060;
            font-weight: 600;
            font-size: 18px;
            img {
              width: 40%;
              height: auto;
              border-radius: 70px;
              object-fit: cover;
            }
        }
    }
    h3{
        font-weight: 500;
        margin-top: -45px;
        margin-bottom: 50px;
    }
    .div2 {
        display: flex;
        justify-content: space-between;
    }
    .tag {
        width: 140px;
        height: 25px;
        background-color: #FF6060;
        color: white;
        font-weight: 600;
        font-size: 14px;
        border-radius: 15px;
        padding: 5px 10px;
        margin-right: 5px;
        display: inline-block;
        text-align: center;
        line-height: 25px;
      }
    @media (max-width: 780px) {
        .pictures {
          img {
            height: 350px;
          }
        }
        .div1 {
          display: flex;
          flex-direction: column;
            h2 {
              margin-bottom: 10px;
            }
            .host {
              margin-top: 50px;
              position: absolute;
              left: 60%;
              top: 83%;
            }
            img {
              width: 18% !important;
              height: auto !important;
            }         
        }

        h3{
          font-weight: 500;
          margin-top: 0px;
          margin-bottom: 15px;
        }
        .div2 {
          display: flex;
          gap: 15px;
          flex-direction: column;
        }
        .dropdown {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 20px;
          .dropdown_description, .dropdown_equipments {
            width: 100%;
          }
      }
    }
}